# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build

# Nest.js
dist
*.tsbuildinfo

# Turbo
.turbo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
/packages/database/prisma/dev.db
/packages/database/prisma/dev.db-journal
.vercel
.env*.local
